---
---

<footer class="border-t border-[rgba(255,255,255,0.08)] py-6 px-4 md:px-12 text-center text-[#888b99] text-[0.82rem]">
  <p>
    Copyright &copy; 2026 <a class="text-[#888b99] underline" href="https://github.com/bubbuild">Bub Build</a> contributors.
    Licensed under <a class="text-[#888b99] underline" href="https://github.com/bubbuild/bub/blob/main/LICENSE">Apache-2.0</a>.
  </p>
</footer>
